html,
body {
  height: 100%;
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f3f7f8;
}
.mb-sm { margin-bottom: 20px!important; display: block; }
.mb-reset {
  margin-bottom: 0px;
}
.btn {
  font-weight: 600;
}
.btn-primary {
  background-color: #00B7B4 !important;
  border: 0 !important;
  color: #fff !important;
  outline: none !important;
  &:hover {
    background-color: #28c8c7 !important;
  }
}
.page-content {
  padding-top: 4.5em;
  padding-left: 17em;
  padding-right: 12px;
}
.form-login {
  width: 35%;
  position: relative;
  margin: 0 auto;
  top: 3em;
}
.panel-heading {
  background-color: #FFF !important;
  .panel-title {
    font-weight: 600;
  }
}
label {
  font-weight: normal;
}
.form-control {
  border-color: #eceff1;
  border-radius: 2px;
  height: 40px;
  padding: 6px 12px;
  box-shadow: none;
  &:focus {
    border: 1px solid #00b7b5;
    box-shadow: none;
  }
}
.form-group + .error {
  color: #dd4b39;
}
