html,
body {
  height: 100%;
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f3f7f8;
}
.mb-sm { margin-bottom: 20px!important; display: block; }
.mb-reset {
  margin-bottom: 0px;
}
.btn {
  font-weight: 600;
}
.btn-primary {
  background-color: #00B7B4 !important;
  border: 0 !important;
  color: #fff !important;
  outline: none !important;
  &:hover {
    background-color: #28c8c7 !important;
  }
}
.btn-flat {
  border-radius: 0px;
}
.input-group-btn:last-child>.btn {
  height: 40px;
  width: 44px;
  color: #00b7b5 !important;
  background: #FFF !important;
  border: 1px solid #e2e2e2;
}
.breadcrumb {
  padding-left: 0px;
  font-size: 12px;
  a {
    color: #00b7b5;
    text-decoration: none !important;
  }
}
.page-content {
  padding-top: 4.5em;
  padding-left: 17.5em;
  padding-right: 12px;
}
.form-login {
  width: 35%;
  position: relative;
  margin: 0 auto;
  top: 3em;
}
.panel {
  box-shadow: none;
    border: none;
}
.panel-heading {
  border-color: #efefef !important;
  background-color: #FFF !important;
  .panel-title {
    font-weight: 600;
    line-height: 33px;
    font-size: 18px;
  }
  .displayCount {
    float: right;
    margin-left: 15px;
    width: 70px;
  }
  .filter-container {
    float: right;
    max-width: 210px;
    margin-left: 15px;
  }
  .form-control {
    line-height: 22px;
    height: 36px;
    padding: 6px 15px;
  }
}
label {
  font-weight: normal;
}
.form-control {
  border-color: #eceff1;
  border-radius: 2px;
  height: 40px;
  padding: 6px 12px;
  box-shadow: none;
  &:focus {
    border: 1px solid #00b7b5;
    box-shadow: none;
  }
}
.form-group + .error {
  color: #dd4b39;
}
.form-group.style-select {
  .form-control {
    -webkit-appearance: none;
  }
  &:before {
    content: "\F107";
    font-family: FontAwesome;
    position: absolute;
    right: 14px;
    top: 50%;
    background: #fdfdfd;
    z-index: 2;
    pointer-events: none;
    width: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.panel-heading {
  .form-group.style-select:before {
    color: #b0bec5;
    content: "\F107";
    font-size: 18px;
    right: 24px;
    top: 19px;
    background: #fff;
    z-index: 1;
    width: 17px;
    text-align: center;
  }
}
.pagination {
  > li > a {
    color: #019292;
  }
  a:hover {
    cursor: pointer;
  }
  > .active > a {
    background: #00b7b5 !important;
    border-color: #00b7b5 !important;
  }
}
.table-hover tbody tr {
  &:hover {
    cursor: pointer;
  }
}
.image-preview-wrapper {
  width: 180px;
  .preview {
    background: #999;
    min-height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .btn-wrapper {
        position: absolute;
        top: 6px;
        right: 0px;
        .btn-edit, .btn-remove {
            background: #FFF;
            border-radius: 50%;
            height: 36px;
            width: 36px;
            padding: 0px;
            outline: none;
            box-shadow: none !important;
            border: 1px solid #c5c5c5;
            margin-right: 5px;
            .fa {
                color: #001a35;
                margin: 0px;
            }
        }
    }
    img {
        width: 100%;
    }
  }
  .btn-upload {
    border: 1px solid #e2e2e2;
    background: #FFF !important;
    border-radius: 0px;
    font-weight: normal !important;
    color: #00b7b5 !important;
  }
}
.modal {
  background: #33333373;
}
.modal-content {
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #a0a0a0;
}
.modal-header .close {
  margin-top: -1px;
  font-size: 26px;
}
.hide-for-validation {
  height: 0px;
  width: 0px;
  float: left;
  opacity: 0;
  position: absolute;
  bottom: 15px;
}
.position-relative {
 position: relative;
}